<!--{{define "base"}}-->
<!--<!doctype html>-->
<!--<html lang='en'>-->
<!--    <head>-->
<!--        <meta charset='utf-8'>-->
<!--        <title>{{template "title" .}} - Snippetbox</title>-->
<!--        &lt;!&ndash; Link to the CSS stylesheet and favicon &ndash;&gt;-->
<!--&lt;!&ndash;        <link rel='stylesheet' href='/static/css/main.css'>&ndash;&gt;-->
<!--        <link rel='stylesheet' href='../static/css/main.css'>-->
<!--        &lt;!&ndash; Also link to some fonts hosted by Google &ndash;&gt;-->
<!--        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>-->
<!--    </head>-->
<!--    <body>-->
<!--    <header>-->
<!--        <h1><a href='/'>Snippetbox</a></h1>-->
<!--    </header>-->
<!--    {{template "nav" .}}-->
<!--    <main>-->
<!--        {{template "main" .}}-->
<!--    </main>-->
<!--    <footer>Powered by <a href='https://golang.org/'>Go</a></footer> &lt;!&ndash; And include the JavaScript file &ndash;&gt;-->
<!--    <script src="/static/js/main.js" type="text/javascript"></script>-->
<!--    </body>-->
<!--</html>-->
<!--{{end}}-->